body{
  margin: 0;
  margin-bottom: 0;
  text-align: center;
}

.title{
  margin: auto;
  font-family: Amatic SC, serif;
  font-size: 6.625rem;
  color: #A084CA;
  line-height: 2;

}

.Web{
  font-family: Amatic SC, serif;
  font-size: 2.5rem;
  color: #A084CA;
  font-weight: normal;
}

h1{
  font-family: Amatic SC, serif;
  color: #A084CA;
  font-size: 2.5rem;
}

h2{
  font-family: Amatic SC, serif;
  color: #A084CA;
  font-size: 2.5rem;
  font-weight:bold;
}

h3{
  font-family: Amatic SC, serif;
  color: #A084CA;
  font-size: 2.5rem;
  font-weight: normal;
}

a{
  color: #FAF7F0;
}

hr{
  border-style: dotted;
  border-width: 15px;
  border-color: #293462;
  width: 7%;
  border-bottom: 0;
}

.Hello{
  width: 35%;
  margin: 50px auto;
}

.Skills{
  width: 50%;
  margin: 100px auto 100px auto;
}

.skill-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.programmer-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  text-align:left;
  line-height: 2;
}

.profile-pic{
  border-radius: 10%;
  width: 200px;
  margin: 50px;

}

.top-container{
  background-color: #BCCEF8;
  padding-top: 100px;
}

.middle-container{
  background-color: #BCCEF8;
  padding-top: 100px;
  padding-bottom: 50px;
}

.bottom-container{
  background-color: #293462;
  padding-top: 20px;
}

.top-cloud{
  margin-left: 400px;
  padding-top: 50px;
}

.bottom-cloud{
  position: absolute;
  top: 250px;
}

.contact-message{
  width: 40%;
  margin: 50px auto;
}

.surname{
  margin-bottom: 0;
  padding-bottom: 20px;
  color: #FAF7F0;

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  text-shadow: 0px 4px 2px #666666;
  font-family: Courier New;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: none;
  margin-bottom: 150px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}}
